.form-container {
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #333333;
  padding: 20px 40px;
  color: #00b300;
  font-size: 18px;
}

h2 {
  text-align: center;
  margin: 20px 0 40px;
}

label {
  display: block;
  color: #00b300;
  text-align: center;
  margin-top: 25px;
}

input {
  display: block;
  margin: 10px auto;
  width: 60%;
  font-size: 17px;
  text-align: left;
}

select {
  display: block;
  margin: 20px auto 10px;
  width: 60%;
}

textarea {
  display: block;
  width: 60%;
  height: 150px;
  margin: 0 auto;
}

button {
  display: block;
  margin: 30px auto;
}

p {
  text-align: center;
  margin-top: 20px;
}

#submit-comment-error {
  margin: 20px auto;
  width: 80%;
}
