<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 form-container">
      <h2>Küldd el a saját rejtvényed!</h2>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" enctype="multipart/form-data">
        <div>
          <label for="title">Adj egy találó címet a rejtvényednek!</label>
          <input type="text" id="title" name="title" ngModel required>
        </div>
        <div>
          <label for="category">Milyen kategóriához tartozik?</label>
          <select name="category" id="category" ngModel required (change)="onChangeCategory(f)">
            <option value="RIDDLE">Fejtörő, találós kérdés</option>
            <option value="MATH_PUZZLE">Matematikai feladvány</option>
            <option value="PICTURE_PUZZLE">Képrejtvény</option>
            <option value="WORD_PUZZLE">Nyelvi játék</option>
            <option value="CIPHER">Titkosírás</option>
          </select>
        </div>
        <div *ngIf="isNormalPuzzle">
          <div>
            <label for="instruction-normal">Írj pontos instrukciót! Milyen formában várod a választ?</label>
            <textarea id="instruction-normal" name="instruction" ngModel required
            placeholder="Például: Hogy folytatódik a számsor? A megoldás három szám vesszővel, szóközzel elválasztva. Ha szükséges, használj tizedespontot!">
            </textarea>
          </div>
          <div>
            <label for="puzzle-item-normal">Ide írd magát a rejtvényt!</label>
            <textarea id="puzzle-item-normal" name="puzzle-item" ngModel required
            placeholder="Például: 2, 3.5, 5, 6.5, 8, ?, ?, ?">
            </textarea>
          </div>
        </div>
        <div *ngIf="isPicturePuzzle">
          <div>
            <label for="instruction-picture">Írj pontos instrukciót! Milyen formában várod a választ?</label>
            <textarea id="instruction-picture" name="instruction-picture" ngModel required
            placeholder="Például: A megoldás három szám egy-egy szóközzel elválasztva. Amennyiben szükséges, tizedesvessző használható.">></textarea>
          </div>
          <div>
            <label for="upload">Töltsd fel a képet!</label>
            <input type="file" accept="image/*" id="upload" (change)="onUploadImage($event)">
          </div>
        </div>
        <div *ngIf="isCipher">
          <p>A titkosírással írt rejtvényt és a hozzá tartozó instrukciót a számítógép generálja a megadott helyes válaszból.</p>
        </div>
        <div *ngIf="isNormalPuzzle || isPicturePuzzle || isCipher">
          <div>
            <label for="answer">Ide írd a helyes választ!</label>
            <textarea id="answer" name="answer" ngModel required
            placeholder="Például: 9.5, 11, 12.5 - figyelj, hogy a válasz és az intrukcióban megadott formátum egyezzen!"></textarea>
          </div>
          <div>
            <label for="level">Milyen nehézségűnek ítéled a feladványt?</label>
            <select name="level" id="level" ngModel required>
              <option value="EASY">Könnyű</option>
              <option value="MEDIUM">Közepes</option>
              <option value="DIFFICULT">Nehéz</option>
            </select>
          </div>
          <div *ngIf="errorMessage !== ''" id="submit-error" class="error">
            <p>{{ errorMessage }} A rejtvény feltöltése nem sikerült.</p>
          </div>
          <button type="submit" [disabled]="f.invalid">Küldés</button>
        </div>
      </form>
    </div>
  </div>
</div>
