#profile-spinner {
  margin-top: 100px;
}

.my-data {
  margin-top: 100px;
  border-radius: 10px;
  background-color: #333333;
  padding: 20px 40px;
}

#user-icon {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.data-div {
  text-align: center;
  padding-top: 10px;
  color: #f0fff0;
}

.data-div h1 {
  font-size: 50px;
}

#manage-form {
  display: block;
  width: 88%;
  margin: 20px auto;
}

label {
  display: inline-block;
  width: 200px;
  color: #00b300;
  margin-right: 20px;
}

input {
  width: 60%;
  margin: 10px auto;
  font-size: 17px;
  text-align: left;
}

button {
  margin: 10px auto;
}

#confirm {
  color: #f0fff0;
  background-color: #b22222;
  border-radius: 10px;
  width: 85%;
  padding: 10px;
}

#modify-error {
  margin: 20px;
  width: 88%;
}

@media only screen and (max-width: 700px) {
  input {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  input {
    width: 100%;
  }
}
