<div class="row">
  <div *ngIf="isFetching" class="col-12" id="profile-spinner">
    <div class="spinner-border spinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="!showError && !isFetching"
    class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-data">
    <div class="row">
      <div class="d-none d-md-block col-md-4 img-div">
        <img src="../../../../assets/avatar1.png" alt="user-icon" id="user-icon">
      </div>
      <div class="col-12 col-md-8 data-div">
        <h1>{{ member.username }}</h1>
        <h2>{{ member.score }} pont</h2>
        <button *ngIf="!isFormVisible" type="button" (click)="toggleFormVisible()">Személyes adatok módosítása</button>
        <button *ngIf="isFormVisible" type="button" (click)="toggleFormVisible()">Becsukom</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form *ngIf="isFormVisible" id="manage-form" (ngSubmit)="onChangeUserData(f)" #f="ngForm">
          <div>
            <label for="username">Új felhasználónév:</label>
            <input type="text" id="username" name="username" ngModel>
          </div>
          <div>
            <label for="pass">Új jelszó:</label>
            <input type="password" id="pass" name="pass" ngModel>
          </div>
          <div>
            <label for="confirmpass">Új jelszó megerősítése:</label>
            <input type="password" id="confirmpass" name="confirmpass" ngModel>
          </div>
          <p *ngIf="invalidPassword" id="confirm">A jelszó és a megerősítése nem egyezik meg.</p>
          <div *ngIf="failedToModifyData" class="error" id="modify-error">
            <p>{{ errorMessage }} A módosítás nem sikerült.</p>
          </div>
          <button type="submit">Küldés</button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="showError" class="error">
    <p>{{ errorMessage }}</p>
  </div>
</div>
