.welcome-container {
  margin-top: 50px;
  height: calc(100% - 50px);
  padding: 0;
  position: relative;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col-12 {
  padding-left: 0;
  padding-right: 0;
}

.title {
  margin: 10px 0 50px;
  padding: 20px;
  background-color: #333333;
  text-align: center;
  color: #00b300;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 22px;
  }
}

