<div class="random-puzzle-container">
  <div class="row">
    <div *ngIf="isFetching" class="col-12">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="!showError && !isFetching"
      class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 random-puzzles">
      <h1>Ajánló</h1>
      <div>
        <i class="fas fa-chevron-left" (click)="stepLeft()" [ngClass]="{'disabled-chevron': !isPrevious}"></i>
        <div class="random-puzzle">
          <h3>{{ currentPuzzle.title }}</h3>
          <p class="puzzle-info">Kategória:</p>
          <p>{{ puzzleService.translateCategory(currentPuzzle.category) | uppercase }} </p>
          <p class="puzzle-info">Nehézség:</p>
          <p>{{ puzzleService.translateLevel(currentPuzzle.level) | uppercase }}</p>
          <p class="rating">
            <i class="fas fa-star-half-alt" *ngIf="currentPuzzle.rating > 0 && currentPuzzle.rating < 1"></i>
            <i class="fas fa-star" *ngIf="currentPuzzle.rating >= 1"></i>
            <i class="fas fa-star-half-alt" *ngIf="currentPuzzle.rating > 1 && currentPuzzle.rating < 2"></i>
            <i class="fas fa-star" *ngIf="currentPuzzle.rating >= 2"></i>
            <i class="fas fa-star-half-alt" *ngIf="currentPuzzle.rating > 2 && currentPuzzle.rating < 3"></i>
            <i class="fas fa-star" *ngIf="currentPuzzle.rating >= 3"></i>
            <i class="fas fa-star-half-alt" *ngIf="currentPuzzle.rating > 3 && currentPuzzle.rating < 4"></i>
            <i class="fas fa-star" *ngIf="currentPuzzle.rating >= 4"></i>
            <i class="fas fa-star-half-alt" *ngIf="currentPuzzle.rating > 4 && currentPuzzle.rating < 5"></i>
            <i class="fas fa-star" *ngIf="currentPuzzle.rating === 5"></i>
          </p>
          <button type="button" routerLink="/puzzles/{{ currentPuzzle.id }}">Megoldom!</button>
        </div>
        <i class="fas fa-chevron-right" (click)="stepRight()" [ngClass]="{'disabled-chevron': !isNext}"></i>
      </div>
    </div>
    <div class="error" *ngIf="showError">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
