.random-puzzle-container {
  margin-top: 50px;
}

.random-puzzle-container h1 {
  color: #00b300;
  padding: 10px 0 30px;
  text-align: center;
}

.random-puzzles {
  background-color: #333333;
  padding: 20px 20px 40px;
  position: relative;
  border-radius: 10px;
}

.random-puzzles .fas {
  font-size: 50px;
  color: #f0fff0;
  vertical-align: center;
  position: absolute;
  cursor: pointer;
}

.fas.fa-chevron-left {
  top: 50%;
  left: 10%;
}

.fas.fa-chevron-right {
  top: 50%;
  right: 10%;
}

.random-puzzles .fas.disabled-chevron {
  opacity: 0.3;
  cursor: default;
}

.random-puzzle {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #444444;
  color: #f0fff0;
  border: 2px solid #00b300;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
}

.puzzle-info {
  margin-top: 25px;
  margin-bottom: 5px;
  padding: 0;
  color: #00b300;
}

button {
  margin: 20px auto 10px;
  padding: 10px;
  background-color: #00b300;
  color: #333333;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  transition: background-color 1s;
}

button:hover {
  background-color: #f0fff0;
}

.rating .fas {
  display: inline;
  font-size: 15px;
  color: #00b300;
  padding: 5px;
  position: static;
  cursor: default;
}
