.my-puzzles {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #333333;
  padding: 20px 40px;
  color: #00b300;
}

h2 {
  text-align: center;
  margin: 40px 0;
  font-size: 35px;
}

button {
  display: block;
  margin: 10px auto;
}

li {
  list-style-type: none;
  padding: 10px;
}

li a {
  color: #00b300;
  text-decoration: none;
}

.puzzle-div {
  border-radius: 10px;
  background-color: #444444;
  border: 2px solid #00b300;
  padding: 15px;
  position: relative;
}

h3 {
  color: #f0fff0;
}

span {
  font-size: 18px;
  color: #f0fff0;
}

h3 span {
  color: #00b300;
}

p {
  margin: 0 0 0 30px;
}

p:first-child {
  margin-top: 10px;
}

.category-pic {
  position: absolute;
  right: 20px;
  top: 40px;
}

.category-pic .fas {
  font-size: 50px;
  color: #00b300;
}

@media only screen and (max-width: 700px) {
  h3 span {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 10px 0;
  }

  .category-pic {
    display: none;
  }
}
