<div class="row">
  <div *ngIf="errorMessage === ''"
    class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-puzzles">
    <h2>Saját rejtvények</h2>
    <button type="button" *ngIf="!isVisible" (click)="toggleVisible()">Megnézem</button>
    <button type="button" *ngIf="isVisible" (click)="toggleVisible()">Becsukom</button>
    <ul *ngIf="isVisible">
      <li *ngFor="let puzzle of puzzles">
        <a routerLink="/puzzles/{{ puzzle.id }}">
          <div class="puzzle-div">
            <h3>{{ puzzle.title }}
              <span> - {{ puzzleService.translateCategory(puzzle.category) }} |
                {{ puzzleService.translateLevel(puzzle.level) }}</span>
            </h3>
            <p>Dátum: <span>{{ puzzle.submissionTime | date: 'yyyy. MM. dd.' }}</span></p>
            <p class="rating"> Értékelés:
              <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 0 && puzzle.rating < 1"></i>
              <i class="fas fa-star" *ngIf="puzzle.rating >= 1"></i>
              <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 1 && puzzle.rating < 2"></i>
              <i class="fas fa-star" *ngIf="puzzle.rating >= 2"></i>
              <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 2 && puzzle.rating < 3"></i>
              <i class="fas fa-star" *ngIf="puzzle.rating >= 3"></i>
              <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 3 && puzzle.rating < 4"></i>
              <i class="fas fa-star" *ngIf="puzzle.rating >= 4"></i>
              <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 4 && puzzle.rating < 5"></i>
              <i class="fas fa-star" *ngIf="puzzle.rating === 5"></i>
              <span id="no-rating" *ngIf="puzzle.rating === 0">Még nincs értékelés.</span>
            </p>
            <div class="category-pic">
              <i class="fas fa-question" *ngIf="puzzle.category.toString() === 'RIDDLE'"></i>
              <i class="fas fa-square-root-alt" *ngIf="puzzle.category.toString() === 'MATH_PUZZLE'"></i>
              <i class="fas fa-dice" *ngIf="puzzle.category.toString() === 'PICTURE_PUZZLE'"></i>
              <i class="fas fa-font" *ngIf="puzzle.category.toString() === 'WORD_PUZZLE'"></i>
              <i class="fas fa-pen-fancy" *ngIf="puzzle.category.toString() === 'CIPHER'"></i>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
