<nav class="container-fluid">
  <div class="row">
    <div class="col-12">
      <ul>
        <li id="logo">IQckó</li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/profile">
              <span><i class="fas fa-user-circle"></i>Profilom</span>
            </a>
            <a class="dropdown-item" routerLink="/puzzles/add">
              <span><i class="fas fa-cloud-upload-alt"></i>Új rejtvény</span>
            </a>
            <a class="dropdown-item" (click)="logout()">
              <span><i class="fas fa-sign-out-alt"></i>Kijelentkezés</span>
            </a>
          </div>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-puzzle-piece"></i>
            <i class="fas fa-caret-down"></i>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/puzzles/riddles">
                <span><i class="fas fa-question"></i>Fejtörők, találós kérdések</span>
              </a>
              <a class="dropdown-item" routerLink="/puzzles/math-puzzles">
                <span><i class="fas fa-square-root-alt"></i>Matematikai feladványok</span>
              </a>
              <a class="dropdown-item" routerLink="/puzzles/picture-puzzles">
                <span><i class="fas fa-dice"></i>Képrejtvények</span>
              </a>
              <a class="dropdown-item" routerLink="/puzzles/word-puzzles">
                <span><i class="fas fa-font"></i>Nyelvi játékok</span>
              </a>
              <a class="dropdown-item" routerLink="/puzzles/ciphers">
                <span><i class="fas fa-pen-fancy"></i>Titkosírás</span>
              </a>
              <a class="dropdown-item" routerLink="/puzzles/all">
                <span><i class="fas fa-puzzle-piece"></i>Összes rejtvény</span>
              </a>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/home">
            <i class="fas fa-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
