nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #333333;
  height: 50px;
  line-height: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  float: right;
  margin: 0 25px;
}

#logo {
  float: left;
  color: #00b300;
  font-size: 30px;
}

.fas {
  font-size: 30px;
  color: #00b300;
  vertical-align: middle;
  transition: color 1s;
}

.fas:hover {
  cursor: pointer;
  color: #f0fff0;
}

.fa-caret-down {
  margin-left: 5px;
  font-size: 15px;
}

.dropdown a:hover .fa-caret-down {
  color: #f0fff0;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  background-color: #f0fff0;
  color: #00b300;
  cursor: pointer;
  padding: 0;
  line-height: 45px;
}
.dropdown-menu a span {
  display: block;
  width: 100%;
  border-bottom: 1px solid #00b300;
  color: #00b300;
}

.dropdown-menu a:last-child span{
  border-bottom: none;
}

.dropdown-menu a:hover {
  background-color: #00b300;
  color: #333333;
}

.dropdown-menu a span:hover {
  color: #333333;
}

.dropdown-menu .fas {
  margin-right: 10px;
  color: #00b300;
}

.dropdown-menu a:hover .fas {
  color: #333333;
}

@media only screen and (max-width: 600px) {
  #logo {
    display: none;
  }

  li {
    margin: 0 15px;
  }
}

