<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div *ngIf="isFetching" class="col-12" id="puzzle-spinner">
          <div class="spinner-border spinner" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="!showError && !isFetching"
          class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 puzzle-container">
          <h1>{{ title }}</h1>
          <div class="sort">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <label for="sort">Sorba rendezés: </label>
              <select name="sort" id="sort" ngModel>
                <option value="titleASC">Cím szerint &#8593;</option>
                <option value="titleDESC">Cím szerint &#8595;</option>
                <option value="levelASC">Nehézség szerint &#8593;</option>
                <option value="levelDESC">Nehézség szerint &#8595;</option>
                <option value="ratingASC">Értékelés szerint &#8593;</option>
                <option value="ratingDESC">Értékelés szerint &#8595;</option>
              </select>
              <button type="submit" id="sort-button">Rendezés</button>
            </form>
          </div>
          <ul>
            <li *ngFor="let puzzle of puzzles">
              <div class="puzzle">
                <p class="puzzle-info">Beküldő: <span>{{ puzzle.member.username }}</span>
                  <span id="date"> {{ puzzle.submissionTime | date:'yyyy. MM. dd.' }}</span>
                </p>
                <h3>
                  <span *ngIf="puzzle.solved" class="solved"><i class="fas fa-check"></i></span>{{ puzzle.title }}
                </h3>
                <p class="puzzle-info">Kategória:
                  <span>{{ puzzleService.translateCategory(puzzle.category) | uppercase }}</span>
                </p>
                <p class="puzzle-info">Nehézség:
                  <span>{{ puzzleService.translateLevel(puzzle.level) | uppercase }}</span>
                </p>
                <p class="rating">
                  <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 0 && puzzle.rating < 1"></i>
                  <i class="fas fa-star" *ngIf="puzzle.rating >= 1"></i>
                  <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 1 && puzzle.rating < 2"></i>
                  <i class="fas fa-star" *ngIf="puzzle.rating >= 2"></i>
                  <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 2 && puzzle.rating < 3"></i>
                  <i class="fas fa-star" *ngIf="puzzle.rating >= 3"></i>
                  <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 3 && puzzle.rating < 4"></i>
                  <i class="fas fa-star" *ngIf="puzzle.rating >= 4"></i>
                  <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 4 && puzzle.rating < 5"></i>
                  <i class="fas fa-star" *ngIf="puzzle.rating === 5"></i>
                  <span id="no-rating" *ngIf="puzzle.rating === 0">Még nincs értékelés.</span>
                  <button type="button" routerLink="/puzzles/{{ puzzle.id }}">Megoldom!</button>
                  <button type="button" routerLink="/puzzles/{{ puzzle.id }}/comments">Hozzászólások</button>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="error" *ngIf="showError">
          <p>{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
