#puzzle-spinner {
  margin-top: 100px;
}

.puzzle-container {
  margin-top: 100px;
  border-radius: 10px;
  background-color: #333333;
  padding: 20px;
}

.puzzle-container h1 {
  color: #00b300;
  padding: 10px 0 30px;
  text-align: center;
}

.puzzle-container ul {
  margin: 0;
  padding: 0;
}

.puzzle-container ul li {
  list-style-type: none;
}

.fas {
  display: inline;
  font-size: 15px;
  color: #00b300;
  padding: 5px;
}

.solved .fas.fa-check {
  font-size: 25px;
  padding-left: 0;
}

.puzzle, .sort {
  width: 80%;
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: #444444;
  color: #f0fff0;
  border: 2px solid #00b300;
  border-radius: 10px;
  font-size: 17px;
}

.puzzle h3 {
  padding-bottom: 20px;
}

#date {
  float: right;
}

.puzzle-info, #no-rating {
  color: #00b300;
}

.puzzle-info span {
  color: #f0fff0;
}

button {
  float: right;
}

.puzzle button:last-child {
  margin-right: 10px;
}

select {
  display: inline-block;
  margin: 0 20px;
  width: 150px;
}

@media only screen and (max-width: 630px) {
  .sort {
    text-align: center;
  }

  select, button {
    display: block;
    float: none;
    margin: 0 auto;
  }

  #sort-button {
    margin: 20px auto;
  }

  button {
    margin: 20px 0 10px;
  }
}

@media only screen and (max-width: 500px) {
  #date {
    display: block;
    float: none;
  }

  select, #sort-button {
    margin: 0 auto;
  }

  #sort-button {
    margin: 20px auto;
  }
}
