<div class="reg-login-container">
  <button (click)="showLoginForm()" class="load-btn"
          [ngClass]="{'active-btn': isLogin === true}" id="load-login">Bejelentkezés</button>
  <button (click)="showRegistrationForm()" class="load-btn"
          [ngClass]="{'active-btn': isLogin === false}" id="load-reg">Regisztráció</button>
  <div>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <label *ngIf="!isLogin" for="username">Felhasználónév: </label>
      <input *ngIf="!isLogin" type="text" id="username" name="username" ngModel required>
      <label for="email">Email cím: </label>
      <input type="text" id="email" name="email" ngModel required email>
      <label for="password">Jelszó: </label>
      <input type="password" id="password" name="password" ngModel required>
      <p id="message">{{ message }}</p>
      <button *ngIf="isLogin" type="submit" [disabled]="form.invalid && (form.touched || form.submitted)">Bejelentkezés</button>
      <button *ngIf="!isLogin" type="submit" [disabled]="form.invalid && (form.touched || form.submitted)">Regisztráció</button>
    </form>
  </div>
</div>
