.reg-login-container {
  padding: 20px;
  background-color: #333333;
  text-align: center;
  color: #00b300;
  margin: 70px auto;
  border-radius: 0 10px 10px 10px;
  position: relative;
}

.load-btn {
  width: 130px;
  border-radius: 10px 10px 0 0;
  border: 2px solid #333333;
  transition: background-color, color 1s;
  position: absolute;
  top: -75px;
}

#load-login {
  left: 0;
}

#load-reg {
  left: 130px;
}

.load-btn:hover {
  background-color: #f0fff0;
  color: #00b300;
}

.active-btn {
  background-color: #333333;
  color: #00b300;
}

input {
  display: block;
  width: 70%;
  margin: 15px auto;
}

label {
  font-size: 18px;
  margin-top: 20px;
}

button {
  margin: 30px auto;
  padding: 10px;
}

#message {
  color: #f0fff0;
}


