#game-spinner {
  margin-top: 100px;
}

.puzzle-container {
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #333333;
  padding: 20px 40px;
}

.puzzle-container h1 {
  color: #00b300;
  padding: 10px 0 30px;
  text-align: center;
}

.puzzle {
  width: 80%;
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: #444444;
  color: #f0fff0;
  border: 2px solid #00b300;
  border-radius: 10px;
  font-size: 17px;
}

.puzzle h1 {
  padding-bottom: 20px;
}

#date {
  float: right;
}

.puzzle-info, #no-rating {
  color: #00b300;
}

.puzzle-info span {
  color: #f0fff0;
}

.puzzle-item {
  color: #f0fff0;
  padding: 20px;
  margin: 20px auto;
  background-color: #444444;
  border: 2px solid #00b300;
  border-radius: 10px;
  font-size: 18px;
}

.puzzle-item img {
  width: 50%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.rating .fas {
  color: #00b300;
  font-size: 17px;
}

button {
  float: right;
}

#cancel-button:hover {
  background-color: #b22222;
  color: #f0fff0;
}

.answer-form label {
  color: #f0fff0;
  margin-right: 20px;
}

.answer-form input {
  display: inline-block;
  width: 300px;
  text-align: left;
}

.answer-btn-div {
  display: inline;
}

#incorrect-message {
  margin-top: 20px;
  padding: 10px;
  color: #f0fff0;
  background-color: #b22222;
  border-radius: 10px;
}

#check-button {
  margin-right: 10px;
}

.rating-box {
  color: #f0fff0;
  text-align: center;
}

.rating-box button {
  float: none;
  margin: 30px auto 20px;
}

.preserve-newline {
  white-space: pre-wrap;
}

#solution-error {
  margin: 20px auto;
  width: 80%;
}

@media only screen and (max-width: 1024px) {
  .puzzle-item img {
    width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  .puzzle-item img {
    width: 80%;
  }

  .answer-btn-div {
    padding: 20px 0;
    display: block;
  }

  #incorrect-message {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 300px) {
  .puzzle-item img {
    width: 95%;
  }
}
