<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div *ngIf="isFetching" class="col-12" id="game-spinner">
          <div class="spinner-border spinner" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="!showError && !isFetching"
          class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 puzzle-container">
          <p class="puzzle-info">Beküldő: <span>{{ puzzle.member.username }}</span>
            <span id="date"> {{ puzzle.submissionTime | date:'yyyy. MM. dd.' }}</span>
          </p>
          <h1>{{ puzzle.title }}</h1>
          <p class="puzzle-info">Instrukció:
            <span class="preserve-newline">{{ puzzle.instruction }}</span>
          </p>
          <div class="puzzle-item">
            <p *ngIf="puzzle.category.toString() !== 'PICTURE_PUZZLE'" class="preserve-newline">{{ puzzle.puzzleItem }}</p>
            <img src="http://localhost:8080/image-resource/{{ puzzle.puzzleItem }}" alt="puzzle"
                 *ngIf="puzzle.category.toString() === 'PICTURE_PUZZLE'">
          </div>
          <p class="rating">
            <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 0 && puzzle.rating < 1"></i>
            <i class="fas fa-star" *ngIf="puzzle.rating >= 1"></i>
            <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 1 && puzzle.rating < 2"></i>
            <i class="fas fa-star" *ngIf="puzzle.rating >= 2"></i>
            <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 2 && puzzle.rating < 3"></i>
            <i class="fas fa-star" *ngIf="puzzle.rating >= 3"></i>
            <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 3 && puzzle.rating < 4"></i>
            <i class="fas fa-star" *ngIf="puzzle.rating >= 4"></i>
            <i class="fas fa-star-half-alt" *ngIf="puzzle.rating > 4 && puzzle.rating < 5"></i>
            <i class="fas fa-star" *ngIf="puzzle.rating === 5"></i>
            <span id="no-rating" *ngIf="puzzle.rating === 0">Még nincs értékelés.</span>
          </p>
          <div class="answer-form" *ngIf="!isSolved">
            <form (ngSubmit)="onCheckAnswer(f)" #f="ngForm">
              <label for="answer">Válasz: </label>
              <input type="text" id="answer" name="answer" ngModel>
              <div class="answer-btn-div">
                <button id="cancel-button" type="button" (click)="onCancel()">Mégse</button>
                <button id="check-button" type="submit">Helyes?</button>
              </div>
            </form>
            <p *ngIf="isIncorrect" id="incorrect-message">Nem ez a helyes megoldás. Próbálkozz tovább!</p>
          </div>
          <div class="rating-box" *ngIf="isSolved">
            <h3>Kiváló megfejtés!</h3>
            <p>Értékeld a rejtvényt, és küldd be a megoldásod!</p>
            <div style="text-align:center">
              <star-rating value="5" checkedcolor="#00b300" uncheckedcolor="#444444" size="24px"
                           readonly="false" (rate)="onRate($event)"></star-rating>
            </div>
            <div *ngIf="failedToSendSolution" class="error" id="solution-error">
              <p>{{ errorMessage }} A küldés nem sikerült.</p>
            </div>
            <button type="button" (click)="onSendSolution()">Küldés</button>
          </div>
        </div>
        <div *ngIf="showError" class="error">
          <p>{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
