<app-navbar></app-navbar>
<div class="container-fluid">
  <div *ngIf="isFetching" class="row" id="comment-spinner-row">
    <div class="col-12">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!isFetching && !showError">
    <div *ngIf="comments.length > 0" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 comment-column">
      <h2> {{ comments[0].puzzle.title }}</h2>
      <ul>
        <li *ngFor="let comment of comments">
          <div class="comment">
            <p>
              <span>{{ comment.member.username }}</span>
              <span>{{ comment.submissionTime | date: 'yyyy. MM. dd.' }}</span>
            </p>
            <p>{{ comment.message }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="comments.length == 0" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 no-comments">
      <p>Ehhez a rejtvényhez még nem írt hozzászólást senki sem.</p>
    </div>
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 add-comment">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <label for="message">Szólj hozzá!</label>
        <textarea name="message" id="message" ngModel required></textarea>
        <div *ngIf="failedToAddComment" class="error" id="submit-comment-error">
          <p>{{ errorMessage }} A hozzászólás elküldése nem sikerült.</p>
        </div>
        <div id="agreement">
          <label for="agreement">
          <input type="checkbox" name="agreement" ngModel> A hozzászólás nem tartalmazza a rejtvény megoldását vagy a helyes megoldásra történő
          bármilyen utalást, sem semmilyen sértő megjegyzést.</label>
        </div>
        <button type="submit" [disabled]="(f.invalid || !f.value.agreement) && f.touched">Hozzászólás küldése</button>
      </form>
    </div>
  </div>
  <div *ngIf="showError" class="error">
    <p>{{ errorMessage }}</p>
  </div>
</div>
