#comment-spinner-row {
  margin-top: 100px;
}
.comment-column, .no-comments, .add-comment {
  margin-top: 100px;
  border-radius: 10px;
  background-color: #333333;
  padding: 30px 40px;
  color: #00b300;
  position: relative;
}
.add-comment {
  margin-bottom: 50px;
}

.no-comments p {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 17px;
  color: #00b300;
  text-align: center;
}

.add-comment {
  margin-top: 20px;
}

h2 {
  color: #f0fff0;
  text-align: center;
  margin-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.comment {
  width: 80%;
  margin: 10px auto;
  background-color: #444444;
  border: 2px solid #00b300;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
}

p:last-child {
  color: #f0fff0;
}

p span:last-child {
  float: right;
}

textarea, label, button {
  display: block;
}

label {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

textarea {
  width: 70%;
  height: 150px;
  margin: 0 auto;
}

button {
  margin: 20px auto;
  padding: 10px;
}

#agreement {
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

#agreement label {
  font-size: 15px;
}

#submit-comment-error {
  margin: 20px auto;
  width: 70%;
}

@media only screen and (max-width: 600px){
  textarea {
    width: 90%;
  }
}

