<div class="row">
  <div *ngIf="errorMessage === ''"
    class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-comments">
    <h2>Hozzászólások</h2>
    <button type="button" *ngIf="!isVisible" (click)="toggleVisible()">Megnézem</button>
    <button type="button" *ngIf="isVisible" (click)="toggleVisible()">Becsukom</button>
    <ul *ngIf="isVisible">
      <li *ngFor="let comment of comments">
        <a routerLink="/puzzles/{{ comment.puzzle.id }}/comments">
          <div class="comment-div">
            <h3>Rejtvény: <span>{{ comment.puzzle.title}}</span></h3>
            <p>Legutolsó hozzászólás: <span>{{ comment.message }}</span></p>
            <p>Dátum: <span>{{ comment.submissionTime | date: 'yyyy. MM. dd.'}}</span></p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
