.my-comments {
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #333333;
  padding: 20px 40px;
  color: #00b300;
}

h2 {
  text-align: center;
  margin: 40px 0;
  font-size: 35px;
}

button {
  display: block;
  margin: 10px auto;
}


li {
  list-style-type: none;
  padding: 10px;
}

li a {
  color: #00b300;
  text-decoration: none;
}

.comment-div {
  border-radius: 10px;
  background-color: #444444;
  border: 2px solid #00b300;
  padding: 15px;
  position: relative;
}
h3 {
  color: #00b300;
}

p {
  margin: 0 0 0 30px;
}

p:first-child {
  margin-top: 10px;
}

p span, h3 span {
  color: #f0fff0;
}


@media only screen and (max-width: 600px) {
  ul {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 10px 0;
  }

}
