<div class="row">
  <div *ngIf="errorMessage === ''"
    class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-solutions">
    <h2>Megoldott rejtvények</h2>
    <button type="button" *ngIf="!isVisible" (click)="toggleVisible()">Megnézem</button>
    <button type="button" *ngIf="isVisible" (click)="toggleVisible()">Becsukom</button>
    <ul *ngIf="isVisible">
      <li *ngFor="let solution of solutions">
        <a routerLink="/puzzles/{{ solution.puzzle.id }}">
          <div class="solution-div">
            <h3>{{ solution.puzzle.title }}
              <span> - {{ puzzleService.translateCategory(solution.puzzle.category) }} |
                 {{ puzzleService.translateLevel(solution.puzzle.level) }}</span>
            </h3>
            <p>Dátum: <span>{{ solution.submissionTime | date: 'yyyy. MM. dd.' }}</span></p>
            <p>Gyorsaság: <span>{{ countSpeed(solution.seconds) }}</span></p>
            <div class="category-pic">
              <i class="fas fa-question" *ngIf="solution.puzzle.category.toString() === 'RIDDLE'"></i>
              <i class="fas fa-square-root-alt" *ngIf="solution.puzzle.category.toString() === 'MATH_PUZZLE'"></i>
              <i class="fas fa-dice" *ngIf="solution.puzzle.category.toString() === 'PICTURE_PUZZLE'"></i>
              <i class="fas fa-font" *ngIf="solution.puzzle.category.toString() === 'WORD_PUZZLE'"></i>
              <i class="fas fa-pen-fancy" *ngIf="solution.puzzle.category.toString() === 'CIPHER'"></i>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
