.table-container {
  margin: 50px auto;
  padding: 30px;
  background-color: #333333;
  color: #00b300;
  font-size: 17px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

table,
table thead,
table tbody {
  width: 100%;
  margin: 0;
  padding: 0;
}

table thead {
  margin-bottom: 20px;
}

table thead tr:first-child {
  border-bottom: 1px solid #00b300;
  color: #f0fff0;
}

table tbody::before {
  content: '-';
  line-height: 20px;
  display: block;
  color: transparent;
}

table th, .table-container table td {
  padding: 10px;
}

table tr :first-child {
  display: inline-block;
  width: 20%;
  border-radius: 10px 0 0 10px;

}

table tr :nth-child(2) {
  display: inline-block;
  width: 50%;
}

table tr :last-child {
  display: inline-block;
  width: 30%;
  border-radius: 0 10px 10px 0;
}

table tr :last-child {
  text-align: right;
}

table tbody tr:nth-child(odd) td {
  background-color: #444444;
}

.table-container table tbody tr.logged-in-member td {
  background-color: #f0fff0;
  color: #333333;
}

button {
  margin: 20px auto 10px;
  padding: 10px;
  background-color: #00b300;
  color: #333333;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  transition: background-color 1s;
}

button:hover {
  background-color: #f0fff0;
}
