<div class="leaderboard-container">
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 table-container">
      <h1>Ranglista</h1>
      <table>
        <thead>
          <tr>
            <th>Rang</th>
            <th>Felhasználónév</th>
            <th>Pont</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members, let i =index"
              [ngClass]="{'logged-in-member': member.id === loggedInMember.id}">
            <td *ngIf="i < 5 || showAll">{{ i + 1 }}.</td>
            <td *ngIf="i < 5 || showAll">{{ member.username }}</td>
            <td *ngIf="i < 5 || showAll">{{ member.score }} pont</td>
          </tr>
        </tbody>
      </table>
      <button *ngIf="!showAll" type="button" (click)="toggleShowAll()">Mutatsd mind</button>
      <button *ngIf="showAll" type="button" (click)="toggleShowAll()">Első 5</button>
    </div>
  </div>
</div>
