<div class="leaderboard-container">
  <div class="row">
    <div *ngIf="!showError"
      class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 table-container">
      <h2>Ranglista</h2>
      <table>
        <thead>
          <tr>
            <th>Rang</th>
            <th>Felhasználónév</th>
            <th>Pont</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members, let i =index"
              [ngClass]="{'logged-in-member': member.id === loggedInMember.id}">
            <td>{{ i + 1 }}.</td>
            <td>{{ member.username }}</td>
            <td>{{ member.score }} pont</td>
          </tr>
        </tbody>
      </table>
      <button type="button" (click)="showFullLeaderboard()">Mutatsd mind!</button>
    </div>
  </div>
</div>
